* {
  all: unset;
  font-family: "IosevkaTermSlab Nerd Font";
}

.workspaces {
  button {
    padding: 0.4em;
    font-size: 0.9em;
    /* height: 0.5em; */

    &:hover {
      background-color: rgba(100, 100, 100, 50);
    }
  }
}

.visible-sidestuff {
  background-color: #333;
  padding-left: 8px;
}

scale trough {
  min-width: 70px;
  min-height: 7px;
  border-radius: 3px;
  background-color: #000;

  > highlight {
    border-radius: 3px;
  }
}

@mixin scale-style($label-padding, $font-size: 0.9em) {
  > label {
    padding-right: $label-padding;
    font-size: $font-size;
  }
}

.volume {
  padding-right: 14px;

  @include scale-style($label-padding: 14px);

  > scale trough highlight {
    background-color: #888;
  }
}

.brightness {
  padding-right: 10px;

  @include scale-style($label-padding: 12px);

  > scale trough highlight {
    background-color: #888;
  }
}

.battery {
  @include scale-style($label-padding: 6px, $font-size: 1.15em);

  > scale trough highlight {
    background-color: #888;
  }
}

.tray {
  background-color: #444;
}

.battery {
  padding-left: 5px;
  padding-right: 12px;
}

.clock {
  font-weight: bold;
  font-size: 1.1em;
  background-color: #444;
  padding: 0px 8px;
}

tooltip {
  background-color: #000;
}
