* {
  border: none;
  border-radius: 0px;
  /* font-size: 17; */
  min-height: 0px;
}

window#waybar {
  background: @bg;
}

#window {
  font-size: 15px;
  color: @fg;
}

#workspaces button {
  color: @fg-dim;
  font-size: 15px;
  padding: 0 6px;
}
#workspaces button.active {
  color: @fg;
}

#clock {
  color: @fg;
  font-weight: bold;
}

#keyboard-state label.capslock {
  color: @fg-dim;
}
#keyboard-state label.capslock.locked {
  color: @green;
}

#network {
  color: @blue;
}
#cpu {
  color: @purple;
}
#temperature {
  color: @orange;
}
#memory {
  color: @aqua;
}

#pulseaudio {
  color: @yellow;
}
#pulseaudio.muted {
  color: @fg-dim;
}

#battery {
  color: @green;
}
#battery.warning {
  color: @orange;
}
#battery.critical {
  color: @red;
}

#clock,
#tray,
#keyboard-state label.capslock,
#network,
#cpu,
#temperature,
#memory,
#pulseaudio,
#battery {
  padding: 0 6px;
  font-size: 15px;
}
