* {
  border: none;
  border-radius: 0px;
  /* font-size: 17; */
  min-height: 0px;
}

window#waybar {
  background: @background;
}

#window {
  font-size: 15px;
  color: @windowName;
}

#workspaces button {
  color: @inactiveWorkspace;
  font-size: 15px;
  padding: 0 6px;
}
#workspaces button.active,
#workspaces button.active.empty {
  color: @activeWorkspace;
}
#workspaces button.urgent {
  color: @urgentWorkspace;
}
#workspaces button.empty {
  color: @emptyWorkspace;
}

#submap {
  color: @submap;
  padding: 0 12px;
}

#tray {
  background-color: @tray;
  border-radius: 6px;
  padding: 0 6px; 
  margin: 5px;
}

#clock {
  color: @clock;
  font-weight: bold;
}

#keyboard-state label.capslock {
  color: @keyboardStateInactive;
}
#keyboard-state label.capslock.locked {
  color: @keyboardStateActive;
}

#cpu {
  color: @cpu;
}
#temperature {
  color: @temperature;
}
#memory {
  color: @memory;
}

#pulseaudio {
  color: @sound;
}
#pulseaudio.muted {
  color: @soundMuted;
}

#battery {
  color: @battery;
}
#battery.warning {
  color: @batteryWarning;
}
#battery.critical {
  color: @batteryCritical;
}

#custom-pomidoro {
  padding: 0 72px;
}

#custom-fullscreen {
  color: @fullscreen;
  padding: 0 32px;
}

#clock,
#tray,
#keyboard-state label.capslock,
#network,
#cpu,
#temperature,
#memory,
#pulseaudio,
#battery {
  padding: 0 6px;
  font-size: 15px;
}
